
body {
/*    font-family: 'Source Sans Pro', sans-serif; */
    font-family: 'Monda', sans-serif;
    font-weight: 400;
    font-size: 12px;
}


.column {
    padding: 2px;
    border-style: solid;
    border-color: whitesmoke;
    border-radius: 6px;
    min-height: 200px;
    min-width: 200px;
    background: white;
    border-width: 4px;
    -webkit-box-shadow: inset 1px 1px 0px 0px rgba(200, 200, 200, 0.8);
    box-shadow: inset 1px 1px 0px 0px rgba(200, 200, 200, 0.8);
    overflow: auto;
    position: absolute;
}

[class^="icon-edit-"], [class*=" icon-edit-"] {
    background-position: left center;
    padding-left: 4px;
    background-repeat: no-repeat;
    background-image: url('../img/Resource.gif');
}

.icon-edit-EPackage {
    background-image: url('../img/EPackage.gif');
}

.icon-edit-EClass {
    background-image: url('../img/EClass.gif');
}

.icon-edit-EDataType {
    background-image: url('../img/EDataType.gif');
}

.icon-edit-EAttribute {
    background-image: url('../img/EAttribute.gif');
}

.icon-edit-EReference {
    background-image: url('../img/EReference.gif');
}

.icon-edit-EOperation {
    background-image: url('../img/EOperation.gif');
}

.icon-edit-EEnum {
    background-image: url('../img/EEnum.gif');
}

.icon-edit-EEnumLiteral {
    background-image: url('../img/EEnumLiteral.gif');
}


