
body {
/*    font-family: 'Source Sans Pro', sans-serif; */
    font-family: 'Monda', sans-serif;
    font-weight: 400;
    font-size: 12px;
}

#property-window {
    left: 800px;
    top: 200px;
}

[class^="icon-edit-"], [class*=" icon-edit-"] {
    background-position: left center;
    padding-left: 4px;
    background-repeat: no-repeat;
    background-image: url('../img/Resource.gif');
}

.icon-edit-EPackage {
    background-image: url('../img/EPackage.gif');
}

.icon-edit-EClass {
    background-image: url('../img/EClass.gif');
}

.icon-edit-EDataType {
    background-image: url('../img/EDataType.gif');
}

.icon-edit-EAttribute {
    background-image: url('../img/EAttribute.gif');
}

.icon-edit-EReference {
    background-image: url('../img/EReference.gif');
}

.icon-edit-EOperation {
    background-image: url('../img/EOperation.gif');
}

.icon-edit-EEnum {
    background-image: url('../img/EEnum.gif');
}

.icon-edit-EEnumLiteral {
    background-image: url('../img/EEnumLiteral.gif');
}


