/**
 * Navigation
 *
**/

#nav-side {
    box-shadow: inset 0px 0px 1px 1px rgba(66, 66, 66, 0.8);
    background: rgb(70, 70, 80);
    height: 100%;
    width: 320px;
    position: absolute;
    overflow: auto;
}

/* HEADER */

.nav-header {
    height: 50px;
}

.nav-header-content {
    left: -5px;
    top: 20px;
    position: relative;
}

.nav-header-content a {
    padding: 4px;
}

/* CONTENT */

.nav-content {
    overflow: auto;
}

.nav-content span {
    text-transform: uppercase;
    text-decoration: none;
    padding-bottom: 12px;
    padding-left: 12px;
    color: white;
}

.nav-row {
    cursor: pointer;
    background: none;
}

.nav-row a {
    color: rgba(250,250,250,1);
}

.nav-row a:hover {
    color: rgba(250,250,250,1);
    text-decoration: none;
}

.nav-row:hover {
    background: rgba(50,51,56,1);
}



